.card-margin
{
    margin-left: 5px;
    margin-top: 20px;
}
.modal.show{
    display: block;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}