<app-card-details [allusers]="allpatients" 
(sendUserValues)="sendValues($event)" 
(setEmptyValues)="onCreateClick($event)"
(sendDeletingIndex)="onDeletePressed($event)"
>
</app-card-details>
<!--To create a patient-->
<div class="modal fade"  id="myModal" role="dialog" [ngClass]="{'showModal': true}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="patientForm" (ngSubmit)="onCreatePressed()">
          <div class="row">
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">UserName</label>
            <input type="text"  formControlName="userUsername" class="form-control" >
          </div>
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="password"  formControlName="userPassword" class="form-control"  >
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email"  formControlName="userEmail" class="form-control"   >
          </div>
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">PhoneNumber:</label>
            <input type="text"  formControlName="userPhonenumber" class="form-control" >
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">FirstName:</label>
            <input type="text"  formControlName="userFirstname" class="form-control"  >
          </div>
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">LastName:</label>
            <input type="text" class="form-control"  formControlName="userLastname" >
          </div>
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">Age:</label>
            <input type="number" class="form-control"  formControlName="userAge" >
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">City</label>
            <input type="text" class="form-control"  formControlName="userCity">
          </div>
          <div class="form-group col">
              <label for="recipient-name" class="col-form-label">State</label>
            <input type="text" class="form-control"  formControlName="userState">
          </div>
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">Street</label>
            <input type="text" class="form-control"  formControlName="userStreet"></div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="recipient-name" class="col-form-label">Height:</label>
            <input type="number" class="form-control"  formControlName="patientHeight"></div>
          <div class="form-group col">
            <label for="message-text" class="col-form-label">Weight:</label>
            <input type="number" class="form-control"  formControlName="patientWeight"></div>
          <div class="form-group col">
              <label for="message-text" class="col-form-label">Blood Group:</label>
              <input type="text" class="form-control"  formControlName="patientBloodGroup">
            </div>
          </div>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="patientForm.invalid">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
   
<!--To update a patient-->
<div class="modal fade"  id="exampleModalLabel" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update</h5>
              <button type="button" class="close" data-dismiss="modal" (click)="showModal=false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="patientForm" (ngSubmit)="onUpdatePressed()">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Height:</label>
                  <input type="number" class="form-control"  formControlName="patientHeight"  >
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Weight:</label>
                  <input type="number" class="form-control"  formControlName="patientWeight" >
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Blood Group:</label>
                    <input type="text" class="form-control" formControlName="patientBloodGroup">
                    <div *ngIf="bloodGroup.errors?.valid" class="invalid-feedback">
                      Blood Group is invalid
                 </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="onUpdatePressed(patientForm.value)"  data-dismiss="modal" aria-label="Close">Update</button>
            </div>
          </div>
        </div>
      </div>

     