<div class="profile-button">
  <button type="button" class="btn btn-primary btn-lg margin-mover" (click)="leftClicked()" [class.btn-success]="leftButton">
    Patient's profile
  </button>
<button type="button" class="btn btn-primary btn-lg " (click)="rightClicked()" [class.btn-success]="rightButton">
  Doctor's profile
</button>
</div>
<router-outlet></router-outlet>
<!-- <div *ngIf="leftButton">
    <div class="card-columns">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
          <div class="card" style="width:300px">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
          <div class="card" style="width:300px">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
          <div class="card" style="width:300px">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
          <div class="card" style="width:300px">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary" >Update</a>
              <span style="margin-left: 18%">
                <a href="#" class="btn btn-primary">Delete</a>
              </span>
            </div>
          </div>
      </div>
    </div>
<div *ngIf="rightButton">
    <div class="card-columns">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the first card</p>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the second card</p>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the third card</p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
          </div>
        </div>  
        <div class="card bg-light">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the fifth card</p>
          </div>
        </div>
        <div class="card bg-info">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the sixth card</p>
          </div>
        </div>
        <div class="card bg-info">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the sixth card</p>
            </div>
          </div>
</div>
</div> -->